<div id="round<%=round_num%>" class="round">
  <h3>
    Round <%= round_num %>
  </h3>
  <div class="region region1">
    <%= render :partial => 'brackets/game_set', :locals => {:games => Game.round_for(round_num), :bracket => (bracket ||= nil)} %>
  </div>
</div>
