<p>Hello <%= @contact.name %>,</p>

<p>
  College basketball tournament season is here! We're again doing a Big Ten Tournament bracket before the big dance
  this year. Sign up again and fill out your picks here:
</p>

<p>
  <%= ENV['SIGNUP_LINK'] %>
</p>

<p>All entries are $10 and must be paid by this Thursday at Noon Eastern. Cash and all major credit cards accepted.</p>

<p>Good Luck!</p>
