<p>Howdy,</p>

<p>
  College basketball tournament season is here! We're running a Big Ten bracket pool before the big dance
  again this year. Sign up and fill out your picks here:
</p>

<p>
  <%= ENV['SIGNUP_LINK'] %>
</p>

<p>All entries are $10 and must be paid by this Thursday at Noon Eastern. Cash and all major credit cards accepted.</p>

<p>Good Luck!</p>
